<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 500px; margin: 100px auto">
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr th:each="category : ${categoryList}">
            <td th:utext="${category.name}"></td>
            <td th:utext="${category.description}"></td>
        </tr>
    </table>
</div>

<div style="width: 500px; margin: 200px auto">
    <form action="/category/add" method="post">
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Description</label><br>
        <input type="text" name="description"><br>
        <button type="submit">ok</button>
    </form>
</div>

</body>
</html>