<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

<div style="width: 500px; margin: 100px auto">
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Category</td>
        </tr>
        <tr th:each="product : ${productList}">
            <td th:utext="${product.name}"></td>
            <td th:utext="${product.description}"></td>
            <td th:utext="${product.price}"></td>
            <td th:utext="${product.category.name}"></td>
        </tr>
    </table>
</div>

<div style="width: 500px; margin: 200px auto">
    <form action="/product/add" method="post">
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Description</label><br>
        <input type="text" name="description"><br>
        <br>
        <label>Price</label><br>
        <input type="number" name="price">
        <br>
        <select name="categoryId" th:name="categoryId">
            <option th:each="category : ${categoryList}"
                    th:value="${category.id}"
                    th:utext="${category.name}"
            ></option>
        </select>
        <button type="submit">ok</button>
    </form>
</div>

</body>
</html>